<script src="../../../assets/bundle.js"> </script>
<div>
    
    <div class="ocw-page" id="ocw-contacto">
        <div id="ocw-ancle-top"></div>
     


        <div class="ocw-intro-hero text-down ocw-layer-opacity">

            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-00-apertura-desktop1.jpg"
                alt="" class="ocw-intro-hero__image ">

            <div class="ocw-intro-hero__content">
                <div class="ocw-container-section">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <h4 class="ocw-intro-hero__content__subtitle">Inversionistas</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <div id="ocw-search" class="ocw-search-transparency">
            <div class="row ocw-list-items-search">
                <div class="ocw-submenu-section row ocw-list-items-search">

                    <a routerLink="/ContactoInversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Contacto Inversionistas</a>

                    <a routerLink="/PerfilCorporativo" class="nav-link ocw-list-items-search__item" href="#">Perfil
                        corporativo</a>


                    <a routerLink="/GobiernoCorporativo" class="nav-link ocw-list-items-search__item" href="#">Gobierno
                        Corporativo</a>

                    <a routerLink="/InformesSostenibilidad" class="nav-link ocw-list-items-search__item"
                        href="#">Informes Sostenibilidad</a>

                    <a routerLink="/Inversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Inversionistas</a>

                    <a routerLink="/InformacionFinanciera" class="nav-link ocw-list-items-search__item"
                        href="#">Informacion financiera</a>

                    <a routerLink="/InformacionInversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Informacion Inversionistas</a>
                </div>
            </div>
        </div>


        <div id="seccion-1" class="ocw-container-section">         
           <div class="bloque-contenido margin-0">
                <div class="row contenedor-contenido margin-0">
                    <div class="large-6 medium-6 small-12 columns caja-contenido contenido-top-right padding-x-0 aos-item"
                        data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500" data-aos-once="true">
                        <div class="">

                            <div class="subcaja-imagen "> <img
                                    data-interchange="
                        [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-01-nuestros-valores-movil.jpg, small], 
                        [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-01-nuestros-valores-tablet.jpg, medium], 
                        [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-01-nuestros-valores-desktop.jpg, large]"
                                    class="imgInversionista" alt="Ocensa"
                                    src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-01-nuestros-valores-desktop.jpg" style="width: 600px;">
                            </div>
                        </div>
                    </div>
                    <div class="large-6 medium-6 small-12 columns caja-contenido contenido-center-center padding-x-0">
                        <div class="grupo-caja-contenidoInversionista">
                            <div class="caja-icono-apertura-seccion-interna aos-item" data-aos-easing="ease-in-out-sine"
                                data-aos="fade-up" data-aos-delay="150" data-aos-duration="800" data-aos-once="true">
                                <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/iconos/icon_inversionistas_nuestros_valores.svg"
                                    alt="Ocensa" style="width: 100px;">
                            </div>      
                            <h2 class="ocw-helvetica-light ocw-cont-territorio-info__info__title"> Perfil
                                corporativo </h2>
                                <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc">
                                    <b> Nuestros valores corporativos</b></p>
                                <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc"> Las actividades y
                                    relaciones en Ocensa están regidas por los valores corporativos de: respeto,
                                    responsabilidad, excelencia, transparencia y colaboración. </p>
                 
                            <a href="/inversionistas/PerfilCorporativo.html" target="" class="ocw-button ocw-button-icon ocw-button-primary ocw-card-prev-new__caption__button">
                                <span class="ocw-button__text">
                                    Ver más
                                </span>
                                <svg class="svg-inline--fa fa-arrow-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M4.465 263.536l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L207 92.113V468c0 6.627 5.373 12 12 12h10c6.627 0 12-5.373 12-12V92.113l178.494 178.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.05c-4.686-4.686-12.284-4.686-16.971 0L4.465 246.566c-4.687 4.686-4.687 12.284 0 16.97z"></path></svg><!-- <i class="fal fa-arrow-up"></i> Font Awesome fontawesome.com -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <section id="bto-cupiagua">      
                <div class="ocw-razon__mision ocw-container-section p-0">
                    <div class="row w-100 m-0">
                        <div class="col-lg-6 p-0">
                            <div class="ocw-carousel-data"  >
                                <div class="ocw-carousel-data__photos ocw-slick-theme slick-initialized slick-slider">
                                    <div class="slick-list draggable">
                                        <div class="slick-track"
                                            style="opacity: 1; width: 687px; transform: translate3d(0px, 0px, 0px);">
                                            <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                                aria-hidden="false" style="width: 687px;">
                                                <div>
                                                    <div class="ocw-item" style="width: 100%; display: inline-block;">
                                                        <img class="" style="width: 140%; min-height: 346px;margin-left: -128px; object-fit: cover;" src="../../../assets/img/Otros/foto-BTO-3.jpg"
                                                            alt="Estación Cupiagua">
            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="ocw-carousel-data__info ocw-slick-theme slick-initialized slick-slider">
                                    <div class="slick-list draggable">
                                        <div class="slick-track"
                                            style="opacity: 1; width: 624px; transform: translate3d(0px, 0px, 0px);">
                                            <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                                aria-hidden="false" style="width: 208px;">
                                                <div>
                                                 
                                                    <div class="ocw-item" style="width: 100%; display: inline-block;">
                                                        <div class="ocw-info-item">
                                                            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/iconos/icon_inversionistas_dinero_verde.svg"
                                                                class="ocw-info-item__icon" alt="">
                    
                                                            <span class="ocw-info-item__leyend__top">
                                                                Ingresos +3%
                                                            </span>
                                                            <span class="ocw-info-item__indicator">
                                                                339 US$
                                                            </span>
                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                                                style="width: 208px;">
                                                <div>
                                                    <div class="ocw-item" style="width: 100%; display: inline-block;">
                                                        <div class="ocw-info-item">
                                                            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/iconos/icon_inversionistas_dinero_rojo.svg"
                                                                class="ocw-info-item__icon" alt="">
                    
                                                            <span class="ocw-info-item__leyend__top">
                                                                EBITDA -1%
                                                            </span>
                                                            <span class="ocw-info-item__indicator">
                                                                289 US$
                                                            </span>
                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                                                style="width: 208px;">
                                                <div>
                                                    <div class="ocw-item" style="width: 100%; display: inline-block;">
                                                        <div class="ocw-info-item">
                                                            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/iconos/icon_inversionistas_dinero_verde.svg"
                                                                class="ocw-info-item__icon" alt="">
                    
                                                            <span class="ocw-info-item__leyend__top">
                                                                MARGEN EBITDA -1%
                                                            </span>
                                                            <span class="ocw-info-item__indicator">
                                                                88 %
                                                            </span>
                    
                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 ocw-razon__mision-left">
                            <div class="ocw-razon__mision-info">
                                <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/iconos/icon_inversionistas_cifras.svg" alt=""
                                    class="ocw-cont-territorio-info__info__icon">
                                <div class="ocw-cont-territorio-info__info__box-title">
                                    <h2 class="ocw-cont-territorio-info__info__title">Información financiera y reportes</h2>
                                   
                                </div>
                                <p class="ocw-cont-territorio-info__info__desc"> Cifras Cuarto Trimestre 2022</p>
                                <p class="ocw-cont-territorio-info__info__desc"> Millones de Dólares US$M
                                    Comparado con el periodo anterior</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
        </section>

        
        <section id="seccion-3" class="ocw-container-section">
            <div class="bloque-contenidoInversionista margin-0">
                <div class="row  margin-0">
                    <div class="large-6 medium-6 small-12 columns caja-contenido padding-x-0 aos-item"
                        data-aos="zoom-out" data-aos-delay="200" data-aos-duration="1500" data-aos-once="true">
                        <div class="">
                            <div class="subcaja-imagen"> <img
                                    data-interchange="
                        [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-03-nuestra-plataforma-movil.jpg, small], 
                        [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-03-nuestra-plataforma-tablet.jpg, medium], 
                        [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-03-nuestra-plataforma-desktop.jpg, large]"
                                    class="imgInversionista" alt="Ocensa"
                                    src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-03-nuestra-plataforma-desktop.jpg" style="width: 600px;">
                            </div>
                        </div>
                    </div>
                    <div class="large-6 medium-6 small-12 columns caja-contenido contenido-center-center padding-x-0">
                        <div class="grupo-caja-contenidoInversionista">
                            <div class="caja-icono-apertura-seccion-interna aos-item" data-aos-easing="ease-in-out-sine"
                                data-aos="fade-up" data-aos-delay="150" data-aos-duration="800" data-aos-once="true">
                                <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/iconos/icon_inversionistas_plataforma.svg"
                                    alt="Ocensa" style="width: 100px;">
                            </div>
                            <h2 class="ocw-helvetica-light ocw-cont-territorio-info__info__title"> Perfil corporativo</h2>
                                <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc">
                                    <b>Nuestra Plataforma</b></p>
                                    <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc"> Nos ajustamos a
                                        las
                                        realidades de la industria, y transportamos toda clase de crudos desde los campos de
                                        explotación hasta buques para su exportación o la refinería de Cartagena, para su
                                        transformación. </p>
                            <a href="/inversionistas/PerfilCorporativo.html" target="" class="ocw-button ocw-button-icon ocw-button-primary ocw-card-prev-new__caption__button">
                                <span class="ocw-button__text">
                                    Ver más
                                </span>
                                <svg class="svg-inline--fa fa-arrow-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M4.465 263.536l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L207 92.113V468c0 6.627 5.373 12 12 12h10c6.627 0 12-5.373 12-12V92.113l178.494 178.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.05c-4.686-4.686-12.284-4.686-16.971 0L4.465 246.566c-4.687 4.686-4.687 12.284 0 16.97z"></path></svg><!-- <i class="fal fa-arrow-up"></i> Font Awesome fontawesome.com -->
                            </a>
                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="ocw-background " >
            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-04-responsabilidad-desktop.jpg"
                alt="" class="ocw-background__img ocw-background__img-desk">
            <div class="ocw-background__cont-left">
                <p class="ocw-background__text">Quienes hacemos parte de Ocensa aceptamos a las otras personas desde la diferencia, con
                    lo cual reconocemos sus derechos y su dignidad.</p>
            </div>
        </div>
    
        <section class="ocw-home-nota1 ocw-container-section">
            <div>
                <div class="row">
                    <div class="col-12 col-lg">
                        <div class="oc-cont-cards d-flex flex-column justify-content-end" style="background-image: url(https://cmsocensa.azurewebsites.net/uploads/Noticia_5_62b7e96c46.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <img src="/img/icon-trabaje-4-gracias.svg" alt="" class="oc-cont-cards__icon">
                            <img src="/img/icon-trabaje-4-gracias.svg" alt="" class="oc-cont-cards__icon-hover">
                            <span class="oc-cont-cards__title">Respeto</span>
                            <a class="oc-cont-cards__link">
                                <span class="oc-cont-cards__link__text">Quienes hacemos parte de Ocensa aceptamos a las otras personas desde la
                                    diferencia, con lo cual reconocemos sus derechos y su dignidad.</span>
                            </a>
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="oc-cont-cards d-flex flex-column justify-content-end" style="background-image: url(https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-00-apertura-desktop1.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <img src="/img/cultura-icono-1.svg" alt="" class="oc-cont-cards__icon">
                            <img src="/img/cultura-icono-1.svg" alt="" class="oc-cont-cards__icon-hover">
                            <span class="oc-cont-cards__title">Excelencia</span>
                            <a class="oc-cont-cards__link">
                                <span class="oc-cont-cards__link__text">Buscamos alcanzar resultados oportunos, que superen las condiciones y
                                    estándares establecidos, en la perspectiva de mejora y aprendizaje continuos, a través
                                    del uso eficiente de los recursos</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="oc-cont-cards d-flex flex-column justify-content-end" style="background-image: url(https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-03-nuestra-plataforma-desktop.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <img src="/img/razondeser-icon-5.svg" alt="" class="oc-cont-cards__icon">
                            <img src="/img/razondeser-icon-5.svg" alt="" class="oc-cont-cards__icon-hover">
                            <span class="oc-cont-cards__title">Responsabilidad</span>
                            <a class="oc-cont-cards__link">
                                <span class="oc-cont-cards__link__text">Realizamos todas nuestras acciones de manera diligente frente a nuestros compromisos, la compañía, la sociedad y el medio ambiente. Siempre asumimos las consecuencias de nuestros actos y decisiones.</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="oc-cont-cards d-flex flex-column justify-content-end" style="background-image: url(https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-01-nuestros-valores-desktop.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <img src="/img/cultura-icono-3.svg" alt="" class="oc-cont-cards__icon">
                            <img src="/img/cultura-icono-3.svg" alt="" class="oc-cont-cards__icon-hover">
                            <span class="oc-cont-cards__title">Colaboración</span>
                            <a class="oc-cont-cards__link">
                                <span class="oc-cont-cards__link__text">Sumamos el esfuerzo individual al esfuerzo de otros para trabajar en equipo,
                                    siempre con el logro de los objetivos de la compañía en nuestra cabeza.</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        <section id="seccion-5" class="ocw-container-section" >
            <div class="bloque-contenido margin-x-0 margin-yt-50">
                <div class="row contenedor-contenido margin-0">
                    <div class="large-9 large-centered medium-12 small-12 columns caja-contenido padding-x-0">
                        <div class="row contenido-center-center margin-0">
                            <div class="large-6 medium-6 small-12 columns caja-contenido padding-x-0 aos-item"
                                data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1500" data-aos-once="true">
                                <div
                                    class="grupo-caja-contenido grupo-caja-contenido-circular grupo-caja-imagen-circular">
                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-05-que-podemos-hacer-movil.jpg"
                                        alt="Ocensa" class="imagen-circular" style="width: 250px;">
                                   
                                </div>
                            </div>
                            <div class="large-6 medium-6 small-12 columns caja-contenido padding-x-0">
                                <div class="grupo-caja-contenido">
                                    <div class="caja-titulo-apertura-seccion-interna">
                                        <h3 class="ocw-home-acor__info"
                                            data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="600"
                                            data-aos-duration="800" data-aos-once="true"> ¿Qué
                                            podemos<br>
                                            hacer por usted? </h3>
                                    </div>
                                    <a href="/inversionistas/ContactoInversionistas.html" target="" class="ocw-button ocw-button-icon ocw-button-primary ocw-card-prev-new__caption__button">
                                        <span class="ocw-button__text">
                                            Ver más
                                        </span>
                                        <svg class="svg-inline--fa fa-arrow-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M4.465 263.536l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L207 92.113V468c0 6.627 5.373 12 12 12h10c6.627 0 12-5.373 12-12V92.113l178.494 178.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.05c-4.686-4.686-12.284-4.686-16.971 0L4.465 246.566c-4.687 4.686-4.687 12.284 0 16.97z"></path></svg><!-- <i class="fal fa-arrow-up"></i> Font Awesome fontawesome.com -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
