<script src="../../../assets/bundle.js"> </script>

<div>
    <div class="ocw-page" id="ocw-contacto">

    
        <div id="ocw-ancle-top"></div>

        <!-- <ul class="ocw-float-buttons" id="ocw-float-buttons" style="display: block;">
            <li class="ocw-float-buttons__item">
                <a href="#ocw-mapa" class="ocw-float-buttons__link" id="ocw-map-marker">
                    <svg class="svg-inline--fa fa-map-marker-alt fa-w-12" aria-hidden="true" focusable="false"
                        data-prefix="fal" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M192 96c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64zm0-256C85.961 0 0 85.961 0 192c0 77.413 26.97 99.031 172.268 309.67 9.534 13.772 29.929 13.774 39.465 0C357.03 291.031 384 269.413 384 192 384 85.961 298.039 0 192 0zm0 473.931C52.705 272.488 32 256.494 32 192c0-42.738 16.643-82.917 46.863-113.137S149.262 32 192 32s82.917 16.643 113.137 46.863S352 149.262 352 192c0 64.49-20.692 80.47-160 281.931z">
                        </path>
                    </svg>
                </a>
            </li>

            <li class="ocw-float-buttons__item">
                <a href="#ocw-ancle-top" class="ocw-float-buttons__link" id="ocw-back-to-top">
                    <svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false"
                        data-prefix="fal" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M4.465 366.475l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L224 178.053l195.494 195.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.051c-4.686-4.686-12.284-4.686-16.971 0L4.465 349.505c-4.687 4.686-4.687 12.284 0 16.97z">
                        </path>
                    </svg>
                </a>
            </li>
        </ul> -->

        <div class="ocw-intro-hero text-down ocw-layer-opacity ">

            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/perfil-corporativo-00-apertura-desktop.jpg"
                alt="" class="ocw-intro-hero__image ">

            <img src="/img/img-contactactenos-0-inicio-responsive.jpg" alt=""
                class="ocw-intro-hero__image ocw-intro-hero__image__responsive d-block d-sm-none ">
            <div class="ocw-intro-hero__content">
                <div class="ocw-container-section">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <h4 class="ocw-intro-hero__content__subtitle">Inversionistas</h4>
                            <h1 class="ocw-intro-hero__content__title">Perfil corporativo</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="ocw-search" class="ocw-search-transparency">
            <div class="row ocw-list-items-search">
                <div class="ocw-submenu-section row ocw-list-items-search">

                    <a routerLink="/ContactoInversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Contacto Inversionistas</a>

                    <a routerLink="/PerfilCorporativo" class="nav-link ocw-list-items-search__item" href="#">Perfil
                        corporativo</a>


                    <a routerLink="/GobiernoCorporativo" class="nav-link ocw-list-items-search__item" href="#">Gobierno
                        Corporativo</a>

                    <a routerLink="/InformesSostenibilidad" class="nav-link ocw-list-items-search__item"
                        href="#">Informes Sostenibilidad</a>

                    <a routerLink="/Inversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Inversionistas</a>

                    <a routerLink="/InformacionFinanciera" class="nav-link ocw-list-items-search__item"
                        href="#">Informacion financiera</a>

                    <a routerLink="/InformacionInversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Informacion Inversionistas</a>
                </div>
            </div>
        </div>

        <div class="ocw-razon__mision ocw-container-section p-0">
            <div class="row w-100 m-0">
                <div class="col-12 col-lg-6 ocw-razon__mision-left">
                    <div class="ocw-razon__mision-info">
                        <div class="caja-icono-apertura-seccion-interna aos-item aos-init"
                            data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="150"
                            data-aos-duration="800" data-aos-once="true"> <img
                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_perfil_quienessomos.svg"
                                alt="Ocensa" style="width: 100px;"> </div>
                        <h2 class="ocw-helvetica-light ocw-cont-territorio-info__info__title">
                            Quiénes somos
                        </h2>
                        <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc">
                            Somos la plataforma más extensa y moderna para transportar petróleo en Colombia.</p>
                            <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc">
                                El propósito empresarial nos define como energía en movimiento, en referencia no solo al carácter de los hidrocarburos como fuente energética y a la especificidad del midstream, que tiene a su cargo transportarlo, sino al carácter dinámico de nuestro negocio, de nuestra gente y de nuestra proyección estratégica de largo plazo. En nuestro propósito corporativo también se expresa la naturaleza de nuestro activo, pues es una infraestructura lineal que conecta el territorio, contribuyendo a tejer lazos entre geografías, culturas y realidades socioeconómicas fragmentadas. Finalmente, el propósito se enfoca en la contribución al progreso y a la sostenibilidad energética nacional, pues la compañía está llamada a jugar un rol clave en la transición energética&nbsp;del&nbsp;país.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-0 ocw-razon__mision-right">
                    <img src="../../../assets/img/Otros/razondeser-2.jpg" alt="" class="ocw-razon__mision-img">
                </div>
            </div>
        </div>

        <div class="ocw-container-section p-0 ocw-bg-gray">
            <div class="row align-items-center">
                <div class="col-lg-6 ocw-p-6">
                    <div class="col-lg-6 p-0">
                        <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/perfil-corporativo-01-grafico-desktop.jpg"
                            class="imgInversionista" style="width: 650px;">
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/perfil-corporativo-01-foto-desktop.jpg"
                        alt="" class="imgInversionista">
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="ocw-text-video__left d-flex flex-column">
                <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_perfil_centrocontrol.svg"
                    alt="Ocensa" class="imagen-icono-svg" style="width: 100px;">
                <span class="ocw-text-video__left__title">Nuestra razón de ser</span>
            </div>

        </div>

        <!-- <span class="ocw-text-video__right__desc">Ocensa es la columna vertebral del
            transporte de hidrocarburos en Colombia,
            el oleoducto atraviesa 836 kilómetros en tierra y 12 kilómetros bajo el mar. La
            operación se enfrenta a las
            complejidades del territorio, cruza montañas, ríos, quebradas, 45 municipios y 6
            departamentos, conectando regiones
            y culturas del país, comprometidos con el medio ambiente, la seguridad y las
            comunidades.
        </span> -->

        <div class="video-youtube-responsive">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/X3LBFCbXzac?controls=0%22"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
        </div>

        <div>
            <div class="ocw-container-section p-0">
                <div class="ocw-background ">
                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/perfil-corporativo-02-estructura-desktop.jpg"
                        alt="" class="ocw-background__img ocw-background__img-desk">

                    <div class="ocw-background__cont-left">
                        <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_perfil_estructuraempresarial.svg"
                            alt="" class="ocw-background__cont-left__icon">
                        <h2 class="ocw-background__cont-left__title">Estructura
                            empresarial</h2>

                    </div>
                </div>
            </div>
        </div>

        <div id="seccion-2">
            <div class="bloque-contenido bloque-contenido-height-auto margin-0 ocw-container-section">

                <script>
                    function cambiarContenido(Id) {
                        if (Id == "Cenit") {
                            document.getElementById("Cenit").style.display = "block";
                            document.getElementById("demo").style.display = "none";
                            document.getElementById("cenitAc").style.border = "5px solid #19A501";
                            document.getElementById("cenitAc").style.height = "45px";
                            document.getElementById("cenitAc").style.width = "45px";
                            document.getElementById("SqrAct").style.width = "20px";
                            document.getElementById("SqrAct").style.height = "20px";


                        } else {
                            document.getElementById("Cenit").style.display = "none";
                            document.getElementById("demo").style.display = "block";
                            document.getElementById("SqrAct").style.height = "45px";
                            document.getElementById("SqrAct").style.width = "45px";
                            document.getElementById("cenitAc").style.width = "20px";
                            document.getElementById("cenitAc").style.height = "20px";
                        }
                    }
                </script>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="large-10 large-centered medium-12 small-12 columns padding-x-0 ">
                            <div class="row contenedor-infografia-circulo margin-0">
                                <div class="caja-infografia-circulo aos-item aos-init"
                                    data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="600"
                                    data-aos-duration="800" data-aos-once="true">
                                    <div class="bloque-contenedor-interaccion-circulo">
                                        <div class="forma-interaccion-circulo"> <img class="forma-circulo-porcentaje"
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/perfil-corporativo-franja-darby-51.svg"
                                                alt="Ocensa"> <img class="forma-circulo-porcentaje"
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/perfil-corporativo-franja-square-capital-romero-22.svg"
                                                alt="Ocensa"> <img class="forma-circulo-porcentaje"
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/perfil-corporativo-franja-cenit-73.svg"
                                                alt="Ocensa">
                                            <div class="pin-forma-infografia-circulo pin-forma-infografia-circulo-1">
                                                <div
                                                    class="nombre-pin-forma-infografia nombre-pin-forma-infografia-activo">
                                                    <p>Cenit</p>
                                                </div>
                                                <div onclick="cambiarContenido('Cenit')" style="cursor:pointer"
                                                    id=cenitAc
                                                    class="elemento-pin-forma-infografia pin-forma-infografia-circulo-activo">
                                                </div>
                                            </div>

                                            <div class="pin-forma-infografia-circulo pin-forma-infografia-circulo-3">
                                                <div class="nombre-pin-forma-infografia ">
                                                    <p>I Squared Capital</p>
                                                    <p>Grupo Romero</p>
                                                </div>
                                                <div onclick="cambiarContenido('demo')" style="cursor:pointer"
                                                    id="SqrAct" class="elemento-pin-forma-infografia">
                                                </div>
                                            </div>
                                            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_perfil_shareholders.svg"
                                                alt="Ocensa">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-9">
                        <div id="demo" style="display:none">
                            <div class="row">
                                <div class=" col-sm-2">
                                    <div class="caja-cifras-01">
                                        <div class="caja-cifras-texto-numero-01">
                                            <p><span class="cifra-numero-grande">27</span> %</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div
                                        class="caja-informacion-infografia-circulo large-4 medium-4 small-12 columns padding-x-0">
                                        <div class="informacion-infografia-circulo"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/logos/logo-isquared.png"
                                                alt="I Squared Capital"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/logos/logo_romero.png"
                                                alt="I Squared Capital"> </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div
                                        class="caja-informacion-infografia-circulo large-5 medium-5 small-12 columns padding-x-0">
                                        <div class="informacion-infografia-circulo">
                                            <ul>
                                                <h6>I Squared Capital</h6>
                                                <h6>Grupo Romero</h6>
                                                <li>
                                                    <p>Empresa independiente de inversión global en infraestructura.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>Más de US$13.000 millones en activos bajo gestión e
                                                        inversiones en infraestructura, servicios públicos, energía,
                                                        telecomunicaciones, entre otros.</p>
                                                </li>

                                                <h6>Grupo Romero</h6>
                                                <li>
                                                    <p>Conglomerado corporativo peruano con participaciones en una
                                                        amplia gama de industrias: consumo, servicios financieros, O
                                                        &amp; G aguas abajo, logística, agronegocios, bienes raíces,
                                                        pesca, entre otras.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Cenit">
                            <div class="row" style="padding: 80px;">
                                <div class="col-sm-4 text-center">
                                    <div class="caja-cifras-01">
                                        <div class="caja-cifras-texto-numero-01">
                                            <p><span class="cifra-numero-grande">73</span> %</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div
                                        class="caja-informacion-infografia-circulo large-4 medium-4 small-12 columns padding-x-0">
                                        <div class="informacion-infografia-circulo"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/logos/logo_cenit.png"
                                                alt="Cenit">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div
                                        class="caja-informacion-infografia-circulo large-5 medium-5 small-12 columns padding-x-0">
                                        <div class="informacion-infografia-circulo">
                                            <ul>
                                                <h6>Cenit</h6>
                                                <li>
                                                    <p>Subsidiaria de Ecopetrol con más de 3.000 km de oleoductos.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>Las filiales incluyen Ocensa, Bicentenario (55%), ODL (65%) y
                                                        ODC (51%).</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="ocw-background">
                <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/perfil-corporativo-03-recorrido-desktop.jpg"
                    alt="" class="ocw-background__img ocw-background__img-desk">
                <div class="ocw-background__cont-left">
                    <p class="ocw-background__text">Buscamos alcanzar resultados oportunos, que superen las
                        condiciones
                        y estándares
                        establecidos, en la perspectiva de mejora y aprendizaje continuos, a través del uso
                        eficiente de los recursos.</p>
                </div>
            </div>

        </div>
        

        <div id="" class="">
            <div class="bloque-contenido bloque-contenido-height-auto margin-0 contenido-fondo-azul-claro padding-yb-0">
                <div class="row contenedor-contenido contenido-center-bottom margin-0">
                    <div class="large-12 medium-12 small-12 columns padding-x-0">
                        <div class="row margin-0">
                            <div
                                class="large-12 medium-12 small-12 columns caja-contenido contenido-center-left padding-x-0">
                                <div class="grupo-caja-contenido">
                                    <div class="caja-icono-apertura-seccion-interna aos-item aos-init"
                                        data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="150"
                                        data-aos-duration="800" data-aos-once="true"> <img
                                            src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_perfil_recorridodeloleoducto.svg"
                                            alt="Ocensa"> </div>
                                    <div class="caja-titulo-apertura-seccion-interna aos-item">
                                        <div>
                                            <div>
                                                <div class="aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                                    data-aos="fade-up" data-aos-delay="300" data-aos-duration="800"
                                                    data-aos-once="true"> </div>
                                            </div>
                                        </div>
                                        <h3 class="ocw-home-acor__info"> Recorrido del
                                            Oleoducto </h3>
                                    </div>
                                    <div class="caja-titulo-apertura-seccion-interna aos-item">
                                        <p class="ocw-cont-territorio-info__info__desc"
                                            data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="750"
                                            data-aos-duration="800" data-aos-once="true"> Este
                                            es el recorrido que sigue
                                            nuestro sistema junto a
                                            la estaciones encargadas de bombear y almacenar el crudo. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">

                    <div class=" caja-contenido caja-contenido-deslizable padding-x-0 aos-item aos-init"
                        data-aos="zoom-out" data-aos-delay="200" data-aos-duration="1500" data-aos-once="true">
                        <div class="grupo-contenido-deslizable"> <img data-interchange class="imgInversionistaOleo"
                                alt="Ocensa"
                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/MAPA-PerfilCorporativo-espa%C3%B1ol.png" style="width: 800px;">
                        </div>
                    </div>
                    <div class="large-5 medium-5 small-12 columns caja-contenido contenido-top-center padding-x-0">
                        <div class="grupo-caja-contenido">
                            <div class="caja-tabla-01" >
                                <div class="DivTabla">
                                    <p class="TextoTabalaOleo" style="background-color: #19A501; padding: 20px 12px 1px 20px;">El sistema Ocensa está dividido entre los siguientes
                                        tramos:</p>
                                </div>
                                <div class="fila-tabla-00Oleo aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                    data-aos="fade-up" data-aos-delay="600" data-aos-duration="800"
                                    data-aos-once="true">
                                    <h4>Línea Sur</h4>
                                </div>
                                <div class="fila-tabla-01 aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                    data-aos="fade-up" data-aos-delay="600" data-aos-duration="800"
                                    data-aos-once="true">
                                    <div class="antetitulo-fila-tabla">
                                        <h5><span>Segmento 0</span></h5>
                                        <div></div>
                                    </div>
                                    <div class="row margin-0">
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_tramo.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Tramo</h6>
                                                    <p>Cupiagua - Cusiana</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_distancia.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Distancia</h6>
                                                    <p> 39 km</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fila-tabla-01 aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                    data-aos="fade-up" data-aos-delay="600" data-aos-duration="800"
                                    data-aos-once="true">
                                    <div class="antetitulo-fila-tabla">
                                        <h5><span>Segmento 1</span></h5>
                                        <div></div>
                                    </div>
                                    <div class="row margin-0">
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_tramo.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Tramo</h6>
                                                    <p>Cusiana - El Porvenir</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_distancia.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Distancia</h6>
                                                    <p> 33 km</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fila-tabla-01 aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                    data-aos="fade-up" data-aos-delay="600" data-aos-duration="800"
                                    data-aos-once="true">
                                    <div class="antetitulo-fila-tabla">
                                        <h5><span>Segmento 2</span></h5>
                                        <div></div>
                                    </div>
                                    <div class="row margin-0">
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_tramo.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Tramo</h6>
                                                    <p>El Porvenir - Vasconia</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_distancia.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Distancia</h6>
                                                    <p>287 km</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fila-tabla-00Oleo aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                    data-aos="fade-up" data-aos-delay="600" data-aos-duration="800"
                                    data-aos-once="true">
                                    <h4>Línea Norte</h4>
                                </div>
                                <div class="fila-tabla-01 aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                    data-aos="fade-up" data-aos-delay="600" data-aos-duration="800"
                                    data-aos-once="true">
                                    <div class="antetitulo-fila-tabla">
                                        <h5><span>Segmento 3</span></h5>
                                        <div></div>
                                    </div>
                                    <div class="row margin-0">
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_tramo.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Tramo</h6>
                                                    <p>Vasconia - Coveñas</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_distancia.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Distancia</h6>
                                                    <p>477 km</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fila-tabla-01 aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                    data-aos="fade-up" data-aos-delay="600" data-aos-duration="800"
                                    data-aos-once="true">
                                    <div class="antetitulo-fila-tabla">
                                        <h5><span>Puerto de Coveñas</span></h5>
                                        <div></div>
                                    </div>
                                    <div class="row margin-0">
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_tramo.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Tramo</h6>
                                                    <p>Terminal de Coveñas</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-6 medium-6 small-6 columns padding-x-0">
                                            <div class="row margin-0">
                                                <div
                                                    class="large-6 medium-6 small-6 columns caja-imagen-tablaOleo padding-x-0">
                                                    <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_tabla_distancia.svg"
                                                        class="imgInversionista" alt="Ocensa" style="width: 30px;">
                                                </div>
                                                <div class="large-6 medium-6 small-6 columns padding-x-0">
                                                    <h6>Distancia</h6>
                                                    <p>12 km</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="seccion-4" class="ocw-container-section">

            <div class="bloque-contenido bloque-contenido-height-auto margin-0 padding-yb-0 margin-yb-70">
                <div class="row contenedor-contenido contenido-center-bottom margin-0">
                    <div class="large-12 medium-12 small-12 columns padding-x-0">
                        <div class="row margin-0">
                            <div
                                class="large-12 medium-12 small-12 columns caja-contenido contenido-center-left padding-x-0">
                                <div class="grupo-caja-contenido">
                                    <div class="caja-icono-apertura-seccion-interna aos-item aos-init"
                                        data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="150"
                                        data-aos-duration="800" data-aos-once="true"> <img
                                            src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/perfil-corporativo/iconos/icon_perfil_estructuraejecutiva.svg"
                                            alt="Ocensa" style="width: 100px;"> </div>
                                    <div class="caja-titulo-apertura-seccion-interna aos-item">
                                        <div>
                                            <div>
                                                <div class="aos-item aos-init" data-aos-easing="ease-in-out-sine"
                                                    data-aos="fade-up" data-aos-delay="300" data-aos-duration="800"
                                                    data-aos-once="true"> </div>
                                            </div>
                                        </div>
                                        <h3 class="ocw-home-acor__info" data-aos-easing="ease-in-out-sine"
                                            data-aos="fade-up" data-aos-delay="600" data-aos-duration="800"
                                            data-aos-once="true">Estructura
                                            ejecutiva </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row contenedor-contenido margin-x-0 margin-yt-50">
                  
                    <div class="large-10 medium-10 small-12 columns caja-contenido caja-contenido-deslizable padding-x-0 aos-item aos-init"
                        data-aos="zoom-out" data-aos-delay="200" data-aos-duration="1500" data-aos-once="true">
                        <div class="grupo-contenido-deslizable"> <img data-interchange="
                    [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/espa%C3%B1olcelular.jpg, small], 
                    [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/espa%C3%B1ol.jpg, medium], 
                    [https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/espa%C3%B1ol.jpg, large]"
                                alt="Ocensa"
                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/espa%C3%B1ol.jpg">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    
</div>

