<script src="../../../assets/bundle.js"> </script>
<div>
    <div class="ocw-page " id="ocw-contacto">
        <div id="ocw-ancle-top"></div>


        <!-- <ul class="ocw-float-buttons" id="ocw-float-buttons" style="display: block;">
            <li class="ocw-float-buttons__item">
                <a href="#ocw-mapa" class="ocw-float-buttons__link" id="ocw-map-marker">
                    <svg class="svg-inline--fa fa-map-marker-alt fa-w-12" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M192 96c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64zm0-256C85.961 0 0 85.961 0 192c0 77.413 26.97 99.031 172.268 309.67 9.534 13.772 29.929 13.774 39.465 0C357.03 291.031 384 269.413 384 192 384 85.961 298.039 0 192 0zm0 473.931C52.705 272.488 32 256.494 32 192c0-42.738 16.643-82.917 46.863-113.137S149.262 32 192 32s82.917 16.643 113.137 46.863S352 149.262 352 192c0 64.49-20.692 80.47-160 281.931z"></path></svg>
                </a>
            </li>
        
            <li class="ocw-float-buttons__item">
                <a href="#ocw-ancle-top" class="ocw-float-buttons__link" id="ocw-back-to-top">
                    <svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M4.465 366.475l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L224 178.053l195.494 195.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.051c-4.686-4.686-12.284-4.686-16.971 0L4.465 349.505c-4.687 4.686-4.687 12.284 0 16.97z"></path></svg>
                </a>
            </li>
        </ul> -->

        <div class="ocw-intro-hero text-down ocw-layer-opacity">

            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/informacion-inversionistas/informacion-inversionistas-00-apertura-desktop.jpg"
                alt="" class="ocw-intro-hero__image ">

            <div class="ocw-intro-hero__content">
                <div class="ocw-container-section">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <h4 class="ocw-intro-hero__content__subtitle">Inversionistas</h4>
                            <h1 class="ocw-intro-hero__content__title">Información para inversionistas</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="ocw-search" class="ocw-search-transparency">
            <div class="row ocw-list-items-search">
                <div class="ocw-submenu-section row ocw-list-items-search">

                    <a routerLink="/ContactoInversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Contacto Inversionistas</a>

                    <a routerLink="/PerfilCorporativo" class="nav-link ocw-list-items-search__item" href="#">Perfil
                        corporativo</a>


                    <a routerLink="/GobiernoCorporativo" class="nav-link ocw-list-items-search__item" href="#">Gobierno
                        Corporativo</a>

                    <a routerLink="/InformesSostenibilidad" class="nav-link ocw-list-items-search__item"
                        href="#">Informes Sostenibilidad</a>

                    <a routerLink="/Inversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Inversionistas</a>

                    <a routerLink="/InformacionFinanciera" class="nav-link ocw-list-items-search__item"
                        href="#">Informacion financiera</a>

                    <a routerLink="/InformacionInversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Informacion Inversionistas</a>
                </div>
            </div>
        </div>


        <div class="ocw-razon__mision ocw-container-section p-0">
            <div class="row w-100 m-0">
                <div class="col-12 col-lg-6 ocw-razon__mision-left">
                    <div class="ocw-razon__mision-info">
                        <div class="caja-icono-apertura-seccion-interna aos-item aos-init"
                            data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="150"
                            data-aos-duration="800" data-aos-once="true"> <img
                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/informacion-inversionistas/iconos/icon_ocensa_inversionistas_informacion_para_inversionistas_inicio.svg"
                                alt="Ocensa" style="height: 100px; width: 100px;"> </div>
                        <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc">
                            <b>Las actividades y relaciones en Ocensa están regidas por los valores corporativos de:</b>
                        </p>
                        <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc">
                            Respeto,responsabilidad, excelencia, transparencia y colaboración.

                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-0 ocw-razon__mision-right">
                    <img src="../../../assets/img/Otros/razondeser-2.jpg" alt="" class="ocw-razon__mision-img">
                </div>
            </div>
        </div>

        <div class="ocw-container-section">

            
            <section id="seccion-1">
              
                <div class="ocw-partners__box-title mb-4 ocw-container-section">
                    <div class="ocw-partners__box-title__icon">
                        <svg class="svg-inline--fa fa-user-tie fa-w-14" aria-hidden="true" focusable="false"
                            data-prefix="fal" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96zm91.9 272.2L276.2 442l-33.9-101.7 25-25c10.1-10.1 2.9-27.3-11.3-27.3h-64c-14.3 0-21.4 17.2-11.3 27.3l25 25L171.8 442l-39.7-137.7C58.9 305.5 0 365 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-73.4-58.9-132.9-132.1-134.2zM48 480c-8.8 0-16-7.2-16-16v-25.6c0-47.2 32.8-87.5 76.9-98.9L149.5 480H48zm144.9 0l31.1-93.4 31.1 93.4h-62.2zM416 464c0 8.8-7.2 16-16 16H298.5L339 339.5c44.1 11.4 76.9 51.7 76.9 98.9V464z">
                            </path>
                        </svg><!-- <i class="fal fa-user-tie"></i> Font Awesome fontawesome.com -->
                    </div>
                    <h3 class="ocw-partners__box-title__text">
                        Calificaciones Agencias y Deuda
                    </h3>
                </div>

                <div
                    class="caja-botones-full-width large-12 medium-12 small-12 columns padding-x-0 ocw-container-section">
                    <ul>
                        <li class="aos-item aos-init" data-aos="fade-up" data-aos-easing="ease-in-out-sine"
                            data-aos-delay="400" data-aos-duration="800" data-aos-once="true">
                            <div class="caja-botones-boton-full-width">
                                <div class="ocw-etica__step">
                                    <h5>Moodys</h5>
                                </div>
                                <!-- <div class="grupo-botones-boton-full-width">
                                    <div class="caja-boton-mas-contenido caja-boton-descargar-archivo"> <a
                                            href="https://portal.ocensa.com.co/Documents/inversionistasvf/descargables/informacion-inversionistas/Moodys%20-%20Ocensa%20-%2009Jul20.pdf"
                                            target="_blank" rel="noopener"></a>
                                        <div class="caja-icono-descargar"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                                alt="Ocensa"> </div>
                                        <div class="caja-elemento-circulo-ver-mas"> </div>
                                    </div>
                                </div> -->
                                <div class="grupo-botones-acordion">
                                    <div class="caja-boton-mas-contenido caja-boton-descargar-archivo "
                                        onclick="window.open('https://portal.ocensa.com.co/Documents/inversionistasvf/descargables/informacion-inversionistas/Moodys%20-%20Ocensa%20-%2009Jul20.pdf')">
                                        <div class="caja-icono-descargar"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                                alt="Ocensa"> </div>
                                        <div class="caja-elemento-circulo-ver-mas"> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="aos-item aos-init" data-aos="fade-up" data-aos-easing="ease-in-out-sine"
                            data-aos-delay="400" data-aos-duration="800" data-aos-once="true">
                            <div class="caja-botones-boton-full-width">
                                <div class="ocw-etica__step">
                                    <h5>S&amp;P</h5>
                                </div>
                                <!-- <div class="grupo-botones-boton-full-width">
                                    <div class="caja-boton-mas-contenido caja-boton-descargar-archivo"> <a
                                            href="https://portal.ocensa.com.co/Documents/inversionistasvf/descargables/informacion-inversionistas/RatingsDirect_OleoductoCentralSAOCENSA_49091197_Sep-07-2021.PDF"
                                            target="_blank" rel="noopener"></a>
                                        <div class="caja-icono-descargar"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                                alt="Ocensa"> </div>
                                        <div class="caja-elemento-circulo-ver-mas"> </div>
                                    </div>
                                </div> -->
                                <div class="grupo-botones-acordion">
                                    <div class="caja-boton-mas-contenido caja-boton-descargar-archivo "
                                        onclick="window.open('https://portal.ocensa.com.co/Documents/inversionistasvf/descargables/informacion-inversionistas/RatingsDirect_OleoductoCentralSAOCENSA_49091197_Sep-07-2021.PDF')">
                                        <div class="caja-icono-descargar"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                                alt="Ocensa"> </div>
                                        <div class="caja-elemento-circulo-ver-mas"> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="aos-item aos-init" data-aos="fade-up" data-aos-easing="ease-in-out-sine"
                            data-aos-delay="400" data-aos-duration="800" data-aos-once="true">
                            <div class="caja-botones-boton-full-width">
                                <div class="ocw-etica__step">
                                    <h5>Fitch</h5>
                                </div>
                                <div class="grupo-botones-acordion">
                                    <div class="caja-boton-mas-contenido caja-boton-descargar-archivo "
                                        onclick="window.open('https://portal.ocensa.com.co/Documents/inversionistasvf/descargables/informacion-inversionistas/Change%20in%20shareholding%20composition.pdf')">
                                        <div class="caja-icono-descargar"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                                alt="Ocensa"> </div>
                                        <div class="caja-elemento-circulo-ver-mas"> </div>
                                    </div>
                                </div>
                                <!-- <div class="grupo-botones-boton-full-width">
                                    <div class="caja-boton-mas-contenido caja-boton-descargar-archivo"> <a
                                            href="https://portal.ocensa.com.co/Documents/inversionistasvf/descargables/informacion-inversionistas/FITCH%20%20RATING%20ACTION%2006072021.pdf"
                                            target="_blank" rel="noopener"></a>
                                        <div class="caja-icono-descargar"> <img
                                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                                alt="Ocensa"> </div>
                                        <div class="caja-elemento-circulo-ver-mas"> </div>
                                    </div>
                                </div> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
           

            <section id="seccion-3">
                <div class="ocw-partners__box-title mb-4 ocw-container-section">
                    <div class="ocw-partners__box-title__icon">
                        <svg class="svg-inline--fa fa-user-tie fa-w-14" aria-hidden="true" focusable="false"
                            data-prefix="fal" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96zm91.9 272.2L276.2 442l-33.9-101.7 25-25c10.1-10.1 2.9-27.3-11.3-27.3h-64c-14.3 0-21.4 17.2-11.3 27.3l25 25L171.8 442l-39.7-137.7C58.9 305.5 0 365 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-73.4-58.9-132.9-132.1-134.2zM48 480c-8.8 0-16-7.2-16-16v-25.6c0-47.2 32.8-87.5 76.9-98.9L149.5 480H48zm144.9 0l31.1-93.4 31.1 93.4h-62.2zM416 464c0 8.8-7.2 16-16 16H298.5L339 339.5c44.1 11.4 76.9 51.7 76.9 98.9V464z">
                            </path>
                        </svg><!-- <i class="fal fa-user-tie"></i> Font Awesome fontawesome.com -->
                    </div>
                    <h3 class="ocw-partners__box-title__text">
                        Comunicados
                    </h3>
                </div>
                <div
                    class="caja-botones-full-width large-12 medium-12 small-12 columns padding-x-0 ocw-container-section">
                    <ul>
                        <li class="aos-item aos-init" data-aos="fade-up" data-aos-easing="ease-in-out-sine"
                            data-aos-delay="400" data-aos-duration="800" data-aos-once="true">
                            <div class="caja-botones-boton-full-width">
                                <div class="ocw-etica__step">
                                    <h5>Comunicado 1</h5>
                                </div>

                                <div class="grupo-botones-boton-full-width">
                                   
                                    <div class="grupo-botones-acordion">
                                        <div class="caja-boton-mas-contenido caja-boton-descargar-archivo "
                                            onclick="window.open('https://portal.ocensa.com.co/Documents/inversionistasvf/descargables/informacion-inversionistas/Change%20in%20shareholding%20composition.pdf')">
                                            <div class="caja-icono-descargar"> <img
                                                    src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                                    alt="Ocensa"> </div>
                                            <div class="caja-elemento-circulo-ver-mas"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="seccion-5">
                <div class="ocw-partners__box-title mb-4 ocw-container-section">
                    <div class="ocw-partners__box-title__icon">
                        <svg class="svg-inline--fa fa-user-tie fa-w-14" aria-hidden="true" focusable="false"
                            data-prefix="fal" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" data-fa-i2svg="" style="width: 20px;">
                            <path fill="currentColor"
                                d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96zm91.9 272.2L276.2 442l-33.9-101.7 25-25c10.1-10.1 2.9-27.3-11.3-27.3h-64c-14.3 0-21.4 17.2-11.3 27.3l25 25L171.8 442l-39.7-137.7C58.9 305.5 0 365 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-73.4-58.9-132.9-132.1-134.2zM48 480c-8.8 0-16-7.2-16-16v-25.6c0-47.2 32.8-87.5 76.9-98.9L149.5 480H48zm144.9 0l31.1-93.4 31.1 93.4h-62.2zM416 464c0 8.8-7.2 16-16 16H298.5L339 339.5c44.1 11.4 76.9 51.7 76.9 98.9V464z">
                            </path>
                        </svg><!-- <i class="fal fa-user-tie"></i> Font Awesome fontawesome.com -->
                    </div>
                    <h3 class="ocw-partners__box-title__text">
                        Enlaces de interés
                    </h3>
                </div>
                <div class="bloque-contenido bloque-contenido-height-auto margin-0 margin-yt-0 ">
                    <div class="row row-width-100 margin-0">
                        <div class="large-12 large-centered medium-12 small-12 columns padding-x-0 margin-yt-0">
                            <div class="row contenedor-logos-vinculos margin-0">
                                <div class="large-4 medium-6 small-12 columns caja-logos-vinculos aos-item aos-init"
                                    data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="150"
                                    data-aos-duration="800" data-aos-once="true"> <a
                                        href="https://www.ecopetrol.com.co/wps/portal" target="_blank" rel="noopener">
                                        <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/logos/logo-ecopetrol.jpg"
                                            alt="I squared Capital" style="width: 400px;"> </a> </div>
                                <div class="large-4 medium-6 small-12 columns caja-logos-vinculos aos-item aos-init"
                                    data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="150"
                                    data-aos-duration="800" data-aos-once="true"> <a
                                        href="http://www.isquaredcapital.com/" target="_blank" rel="noopener"> <img
                                            src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/logos/logo-isquared.png"
                                            alt="I squared Capital" style="width: 400px;"> </a> </div>
                                <div class="large-4 medium-6 small-12 columns caja-logos-vinculos aos-item aos-init"
                                    data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="150"
                                    data-aos-duration="800" data-aos-once="true"> <a
                                        href="http://www.gruporomero.com.pe/" target="_blank" rel="noopener"> <img
                                            src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/logos/logo_romero.png"
                                            alt="Grupo Romero" style="width: 400px;"> </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>
</div>