
        
        <nav class="ocw-header-principal__nav">
            <div class="ocw-header-principal__nav__button-toggle">
                <span class="ocw-header-principal__nav__button-toggle__line"></span>
                <span class="ocw-header-principal__nav__button-toggle__line"></span>
            </div>
            <a href="/" class="ocw-header-principal__nav__logo">
                <img src="../../../assets/img/header/logo-ocensa-verde.svg" alt="" class="ocw-header-principal__nav__logo__img">
            </a>
            <ul class="nav ocw-header-principal__nav__menu">
                
                <li class="nav-item  ocw-has-children ">
                    <a href="#" class="nav-link" data-target="ocw-nosotros">
                        Nosotros
                    </a>
                        <div class="nav ocw-header-principal__nav__submenu row">
                            <div class="ocw-header-principal__nav__submenu__intro col">
                                <img src="../../../assets/img/header/img-menu-nosotros-nueva.png" alt="" class="ocw-header-principal__nav__submenu__intro__img">
                                <p class="ocw-header-principal__nav__submenu__intro__text">
                                    Conoce la historia, los principios culturales y la ética que han forjado una de las operaciones más importantes de transporte de crudo en Colombia.
                                </p>
                            </div>
                            <ul class="nav ocw-header-principal__nav__submenu__list col">
                                <li class="nav-item ">
                                    <a  href="/nosotros/nuestra-razon-de-ser.html" class="nav-link">
                                        Nuestra razón de ser
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/nosotros/historia.html" class="nav-link">
                                        Historia
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/nosotros/cultura.html" class="nav-link">
                                        Cultura
                                    </a>
                                    
                                </li>
                                <li class="nav-item ocw-has-children">
                                    <a data-children="submenu-ocw-operacion" href="/nosotros/operacion.html" class="nav-link">
                                        Operación
                                        <span class="nav-link__arrow" >
                                            <i class="far fa-angle-right"></i>
                                        </span>
                                    </a>
                                    
                                    <div class="nav ocw-header-principal__nav__submenu sub-list">
                                        <ul data-parent="submenu-ocw-operacion" class="nav ocw-header-principal__nav__submenu__list">
                                            <li class="nav-item">
                                                <a href="/nosotros/concesion-portuaria.html" class="nav-link">Concesión portuaria</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item ">
                                    <a  href="/nosotros/sostenibilidad.html" class="nav-link">
                                        Sostenibilidad
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/nosotros/etica-y-cumplimiento.html" class="nav-link">
                                        Ética y cumplimiento
                                    </a>
                                    
                                </li>
                            </ul>
                        </div>
                </li>
                <li class="nav-item  ocw-has-children ">
                    <a href="/territorio/casanare.html" class="nav-link" data-target="">
                        Territorio
                    </a>
                        <div class="nav ocw-header-principal__nav__submenu row">
                            <div class="ocw-header-principal__nav__submenu__intro col">
                                <img src="../../../assets/img/fotos-otras-secciones/img-menu-Territorio.jpg" alt="" class="ocw-header-principal__nav__submenu__intro__img">
                                <p class="ocw-header-principal__nav__submenu__intro__text">
                                    Te invitamos a conocer las características de las regiones donde opera Ocensa y el relacionamiento con las comunidades y el medioambiente.
                                </p>
                            </div>
                            <ul class="nav ocw-header-principal__nav__submenu__list col">
                                <li class="nav-item ">
                                    <a  href="/territorio/casanare.html" class="nav-link">
                                        Casanare
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/territorio/boyaca.html" class="nav-link">
                                        Boyacá
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/territorio/santander.html" class="nav-link">
                                        Santander
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/territorio/antioquia.html" class="nav-link">
                                        Antioquia
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/territorio/cordoba.html" class="nav-link">
                                        Córdoba
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/territorio/sucre.html" class="nav-link">
                                        Sucre
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/territorio/bogota.html" class="nav-link">
                                        Bogotá
                                    </a>
                                    
                                </li>
                            </ul>
                        </div>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link" data-target="">
                        Inversionistas
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/descripcion-del-sistema.html" class="nav-link" data-target="">
                        Clientes
                    </a>
                </li>
                <li class="nav-item  ocw-has-children ">
                    <a href="/nuestros-proveedores.html" class="nav-link" data-target="ocw-nuestros-proveedores">
                        Proveedores
                    </a>
                        <div class="nav ocw-header-principal__nav__submenu row">
                            <div class="ocw-header-principal__nav__submenu__intro col">
                                <img src="../../../assets/img/fotos-otras-secciones/img-menu-Proveedores.jpg" alt="" class="ocw-header-principal__nav__submenu__intro__img">
                                <p class="ocw-header-principal__nav__submenu__intro__text">
                                    Los proveedores son parte fundamental de los procesos de nuestra operación. Nos relacionamos con empresas comprometidas con nuestros valores corporativos e ideales de servicio.
                                </p>
                            </div>
                            <ul class="nav ocw-header-principal__nav__submenu__list col">
                                <li class="nav-item ">
                                    <a  href="/nuestros-proveedores.html" class="nav-link">
                                        Nuestros Proveedores
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="/reconocimientos.html" class="nav-link">
                                        Reconocimientos
                                    </a>
                                    
                                </li>
                            </ul>
                        </div>
                </li>
                <li class="nav-item  ocw-has-children ">
                    <a href="/transparencia.html" class="nav-link" data-target="ocw-transparencia">
                        Transparencia
                    </a>
                        <div class="nav ocw-header-principal__nav__submenu row">
                            <div class="ocw-header-principal__nav__submenu__intro col">
                                <img src="../../../assets/img/fotos-otras-secciones/img-menu-Transparencia.jpg" alt="" class="ocw-header-principal__nav__submenu__intro__img">
                                <p class="ocw-header-principal__nav__submenu__intro__text">
                                    Encuentra el esquema de publicación del registro de documentos de la compañía.
                                </p>
                            </div>
                            <ul class="nav ocw-header-principal__nav__submenu__list col">
                                <li class="nav-item ">
                                    <a  href="#" class="nav-link">
                                        Información de la entidad
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="#" class="nav-link">
                                        Normativas
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="#" class="nav-link">
                                        Contratación
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="#" class="nav-link">
                                        Planeación, presupuesto e informes
                                    </a>
                                    
                                </li>
                                <li class="nav-item ">
                                    <a  href="#" class="nav-link">
                                        Instrumentos de gestión de información Pública
                                    </a>
                                    
                                </li>
                            </ul>
                        </div>
                </li>
                <li class="nav-item  ocw-has-children ">
                    <a href="/participacion-en-politicas-publicas.html" class="nav-link" data-target="ocw-participacion-en-politicas-publicas">
                        Participe
                    </a>
                        <div class="nav ocw-header-principal__nav__submenu row">
                            <div class="ocw-header-principal__nav__submenu__intro col">
                                <img src="../../../assets/img/fotos-otras-secciones/img-menu-participe.jpg" alt="" class="ocw-header-principal__nav__submenu__intro__img">
                                <p class="ocw-header-principal__nav__submenu__intro__text">
                                    Consulte nuestras vacantes laborales y la participación en políticas públicas.
                                </p>
                            </div>
                            <ul class="nav ocw-header-principal__nav__submenu__list col">
                                <li class="nav-item ">
                                    <a  href="/participacion-en-politicas-publicas.html" class="nav-link">
                                        Participación en políticas públicas
                                    </a>
                                    
                                </li>
                            </ul>
                        </div>
                </li>
                <li class="nav-item ">
                    <a href="/sala-de-prensa.html" class="nav-link" data-target="ocw-sala-prensa">
                        Sala Prensa
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/trabaje-con-nosotros.html" class="nav-link" data-target="ocw-trabaje-con-nosotros">
                        Trabaje con nosotros
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/contacto.html" class="nav-link" data-target="ocw-contacto">
                        Atención al ciudadano
                    </a>
                </li>
            </ul>
            <div class="ocw-header-principal__nav__aux">
                <a href="#" class="ocw-header-principal__nav__aux__language">
                    ES
                </a>
                <a href="#" class="ocw-header-principal__nav__aux__search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.939" height="17.591"><g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2"><path data-name="Trazado 28948" d="M12.395 2.667a6.633 6.633 0 01-9.381 9.381"/><path data-name="Trazado 28949" d="M4.901 1.343a6.637 6.637 0 017.493 1.324"/><path data-name="Trazado 28950" d="M3.014 12.048a6.625 6.625 0 01-1.871-5.662"/><path data-name="Línea 3175" d="M12.395 12.048l4.695 4.695"/><path data-name="Trazado 28951" d="M4.012 3.402a1.707 1.707 0 11-1.707-1.706 1.7 1.7 0 011.707 1.706z"/></g></svg>            </a>
            </div>
        </nav>
        <div class="ocw-menu-responsive d-lg-none">
            <div class="d-flex align-items-center justify-content-between p-4 ocw-menu-responsive__header">
                <div class="ocw-menu-responsive__header__brand">
                    <img src="../../../assets/img/header/logo-ocensa-verde.svg" alt="" class="img-fluid">
                </div>
        
                <button class="ocw-menu-responsive__header__btn-close">
                    <i class="far fa-times"></i>
                </button>
            </div>
        
            <div class="ocw-menu-responsive__body">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="#" class="nav-link" data-target="ocw-nosotros">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-heart-circle"></i>
                                </div>
                                <span class="nav-link__text">
                                   Nosotros
                                </span>
                            </a>
                            <div class="nav-link__arrow">
                                <i class="far fa-angle-right"></i>
                            </div>
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a href="/nosotros/nuestra-razon-de-ser.html" class="nav-link ocw-nuestra-razon-de-ser" data-target="ocw-nuestra-razon-de-ser">
                                        <span class="nav-link__text">
                                            Nuestra razón de ser
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/nosotros/historia.html" class="nav-link ocw-historia" data-target="ocw-historia">
                                        <span class="nav-link__text">
                                            Historia
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/nosotros/cultura.html" class="nav-link ocw-cultura" data-target="ocw-cultura">
                                        <span class="nav-link__text">
                                            Cultura
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/nosotros/operacion.html" class="nav-link ocw-operacion" data-target="ocw-operacion">
                                        <span class="nav-link__text">
                                            Operación
                                        </span>
                                    </a>
                                        <div class="nav-link__arrow ocw-operacion">
                                            <i class="far fa-angle-right"></i>
                                        </div>
                                        <ul class="nav flex-column submenu-2">
                                            <li class="nav-item">
                                                <a href="/nosotros/concesion-portuaria.html" class="nav-link" data-target="ocw-concesion-portuaria">
                                                    <span class="nav-link__text">
                                                        Concesión portuaria
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/nosotros/sostenibilidad.html" class="nav-link ocw-sostenibilidad" data-target="ocw-sostenibilidad">
                                        <span class="nav-link__text">
                                            Sostenibilidad
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/nosotros/etica-y-cumplimiento.html" class="nav-link ocw-etica-cumplimiento" data-target="ocw-etica-cumplimiento">
                                        <span class="nav-link__text">
                                            Ética y cumplimiento
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="/territorio/casanare.html" class="nav-link" data-target="">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-map-marked-alt"></i>
                                </div>
                                <span class="nav-link__text">
                                   Territorio
                                </span>
                            </a>
                            <div class="nav-link__arrow">
                                <i class="far fa-angle-right"></i>
                            </div>
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a href="/territorio/casanare.html" class="nav-link ocw-casanare" data-target="ocw-casanare">
                                        <span class="nav-link__text">
                                            Casanare
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/territorio/boyaca.html" class="nav-link ocw-boyaca" data-target="ocw-boyaca">
                                        <span class="nav-link__text">
                                            Boyacá
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/territorio/santander.html" class="nav-link ocw-santander" data-target="ocw-santander">
                                        <span class="nav-link__text">
                                            Santander
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/territorio/antioquia.html" class="nav-link ocw-antioquia" data-target="ocw-antioquia">
                                        <span class="nav-link__text">
                                            Antioquia
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/territorio/cordoba.html" class="nav-link ocw-cordoba" data-target="ocw-cordoba">
                                        <span class="nav-link__text">
                                            Córdoba
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/territorio/sucre.html" class="nav-link ocw-sucre" data-target="ocw-sucre">
                                        <span class="nav-link__text">
                                            Sucre
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/territorio/bogota.html" class="nav-link ocw-bogota" data-target="ocw-bogota">
                                        <span class="nav-link__text">
                                            Bogotá
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="#" class="nav-link" data-target="">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-user-tie"></i>
                                </div>
                                <span class="nav-link__text">
                                   Inversionistas
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="/descripcion-del-sistema.html" class="nav-link" data-target="">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-users"></i>
                                </div>
                                <span class="nav-link__text">
                                   Clientes
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="/nuestros-proveedores.html" class="nav-link" data-target="ocw-nuestros-proveedores">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-user-plus"></i>
                                </div>
                                <span class="nav-link__text">
                                   Proveedores
                                </span>
                            </a>
                            <div class="nav-link__arrow">
                                <i class="far fa-angle-right"></i>
                            </div>
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a href="/nuestros-proveedores.html" class="nav-link ocw-nuestros-proveedores" data-target="ocw-nuestros-proveedores">
                                        <span class="nav-link__text">
                                            Nuestros Proveedores
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/reconocimientos.html" class="nav-link ocw-reconocimientos" data-target="ocw-reconocimientos">
                                        <span class="nav-link__text">
                                            Reconocimientos
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="/transparencia.html" class="nav-link" data-target="ocw-transparencia">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-balance-scale-right"></i>
                                </div>
                                <span class="nav-link__text">
                                   Transparencia
                                </span>
                            </a>
                            <div class="nav-link__arrow">
                                <i class="far fa-angle-right"></i>
                            </div>
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link " data-target="">
                                        <span class="nav-link__text">
                                            Información de la entidad
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link " data-target="">
                                        <span class="nav-link__text">
                                            Normativas
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link " data-target="">
                                        <span class="nav-link__text">
                                            Contratación
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link " data-target="">
                                        <span class="nav-link__text">
                                            Planeación, presupuesto e informes
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link " data-target="">
                                        <span class="nav-link__text">
                                            Instrumentos de gestión de información Pública
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="/participacion-en-politicas-publicas.html" class="nav-link" data-target="ocw-participacion-en-politicas-publicas">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-thumbs-up"></i>
                                </div>
                                <span class="nav-link__text">
                                   Participe
                                </span>
                            </a>
                            <div class="nav-link__arrow">
                                <i class="far fa-angle-right"></i>
                            </div>
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a href="/participacion-en-politicas-publicas.html" class="nav-link ocw-participacion-en-politicas-publicas" data-target="ocw-participacion-en-politicas-publicas">
                                        <span class="nav-link__text">
                                            Participación en políticas públicas
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="/sala-de-prensa.html" class="nav-link" data-target="ocw-sala-prensa">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-microphone-alt"></i>
                                </div>
                                <span class="nav-link__text">
                                   Sala Prensa
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="/trabaje-con-nosotros.html" class="nav-link" data-target="ocw-trabaje-con-nosotros">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-user-hard-hat"></i>
                                </div>
                                <span class="nav-link__text">
                                   Trabaje con nosotros
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-wrap">
                            <a href="/contacto.html" class="nav-link" data-target="ocw-contacto">
                                <div class="nav-link__icon-item">
                                    <i class="fal fa-user-headset"></i>
                                </div>
                                <span class="nav-link__text">
                                   Atención al ciudadano
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>    <div class="ocw-search-box">
            <button class="ocw-search-box__button-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.112" height="17.112"><g fill="none" stroke="#19a301"><path data-name="Trazado 28944" d="M.354.353l16.4 16.4"/><path data-name="Trazado 28945" d="M16.758.354l-16.4 16.4"/></g></svg>    </button>
          
                <!--busqueda-->
        </div>


 