<script src="../../../assets/bundle.js"> </script>
<div>
    <div class="ocw-page" id="ocw-contacto">
        <div id="ocw-ancle-top"></div>

        <!-- <ul class="ocw-float-buttons" id="ocw-float-buttons" style="display: block;">
            <li class="ocw-float-buttons__item">
                <a href="#ocw-mapa" class="ocw-float-buttons__link" id="ocw-map-marker">
                    <svg class="svg-inline--fa fa-map-marker-alt fa-w-12" aria-hidden="true" focusable="false"
                        data-prefix="fal" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M192 96c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64zm0-256C85.961 0 0 85.961 0 192c0 77.413 26.97 99.031 172.268 309.67 9.534 13.772 29.929 13.774 39.465 0C357.03 291.031 384 269.413 384 192 384 85.961 298.039 0 192 0zm0 473.931C52.705 272.488 32 256.494 32 192c0-42.738 16.643-82.917 46.863-113.137S149.262 32 192 32s82.917 16.643 113.137 46.863S352 149.262 352 192c0 64.49-20.692 80.47-160 281.931z">
                        </path>
                    </svg>
                </a>
            </li>

            <li class="ocw-float-buttons__item">
                <a href="#ocw-ancle-top" class="ocw-float-buttons__link" id="ocw-back-to-top">
                    <svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false"
                        data-prefix="fal" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M4.465 366.475l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L224 178.053l195.494 195.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.051c-4.686-4.686-12.284-4.686-16.971 0L4.465 349.505c-4.687 4.686-4.687 12.284 0 16.97z">
                        </path>
                    </svg>
                </a>
            </li>
        </ul> -->

        <div class="ocw-intro-hero text-down ocw-layer-opacity">

            <img src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/informes-gestion-sostenibilidad/informes-gestion-sostenibilidad-00-apertura-desktop.jpg"
                alt="" class="ocw-intro-hero__image ">

            <div class="ocw-intro-hero__content">
                <div class="ocw-container-section">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <h4 class="ocw-intro-hero__content__subtitle">Inversionistas</h4>
                            <h1 class="ocw-intro-hero__content__title">Informes de Gestión y Sostenibilidad</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="ocw-search" class="ocw-search-transparency">
            <div class="row ocw-list-items-search">
                <div class="ocw-submenu-section row ocw-list-items-search">

                    <a routerLink="/ContactoInversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Contacto Inversionistas</a>

                    <a routerLink="/PerfilCorporativo" class="nav-link ocw-list-items-search__item" href="#">Perfil
                        corporativo</a>


                    <a routerLink="/GobiernoCorporativo" class="nav-link ocw-list-items-search__item" href="#">Gobierno
                        Corporativo</a>

                    <a routerLink="/InformesSostenibilidad" class="nav-link ocw-list-items-search__item"
                        href="#">Informes Sostenibilidad</a>

                    <a routerLink="/Inversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Inversionistas</a>

                    <a routerLink="/InformacionFinanciera" class="nav-link ocw-list-items-search__item"
                        href="#">Informacion financiera</a>

                    <a routerLink="/InformacionInversionistas" class="nav-link ocw-list-items-search__item"
                        href="#">Informacion Inversionistas</a>
                </div>
            </div>
        </div>

        <div class="ocw-razon__mision ocw-container-section p-0">
            <div class="row w-100 m-0">
                <div class="col-12 col-lg-6 ocw-razon__mision-left">
                    <div class="ocw-razon__mision-info">
                        <div class="caja-icono-apertura-seccion-interna aos-item aos-init"
                            data-aos-easing="ease-in-out-sine" data-aos="fade-up" data-aos-delay="150"
                            data-aos-duration="800" data-aos-once="true"> <img
                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/informes-gestion-sostenibilidad/iconos/icon_ocensa_inversionistas_informes_gestion_perfil_corporativo.svg"
                                alt="Ocensa" style="width: 100px;"> </div>
                        <h2 class="ocw-helvetica-light ocw-cont-territorio-info__info__title">
                            Global Reporting Initiative GRI
                        </h2>
                        <p class="ocw-helvetica-light ocw-cont-territorio-info__info__desc">
                            <b> En Ocensa implementamos
                                procesos y buenas
                                prácticas que nos permitan cuidar los ecosistemas en nuestra área de
                                influencia.</b>
                        </p>
                        <p class="ocw-cont-territorio-info__info__desc" data-aos-easing="ease-in-out-sine"
                            data-aos="fade-up" data-aos-delay="750" data-aos-duration="800" data-aos-once="true">
                            En este sentido, seguimos las recomendaciones de la
                            organización Global Reporting Initiative (GRI) en la Guía G4 para alcanzar
                            un balance económico, social y medioambiental en las regiones en donde
                            tenemos presencia.</p>
                        <p class="ocw-cont-territorio-info__info__desc" data-aos-easing="ease-in-out-sine"
                            data-aos="fade-up" data-aos-delay="750" data-aos-duration="800" data-aos-once="true">
                            Estas acciones las recopilamos
                            a través de nuestro
                            Informe de Sostenibilidad anual, el cual ha sido revisado por la Red Local
                            del Pacto Global en Colombia, otorgando a Ocensa un nivel de avance del 95%,
                            según metodología de análisis de los criterios del COP avanzado. </p>
                        <p class="ocw-cont-territorio-info__info__desc" data-aos-easing="ease-in-out-sine"
                            data-aos="fade-up" data-aos-delay="750" data-aos-duration="800" data-aos-once="true"> A
                            grandes rasgos los informes
                            basados en los
                            estándares fijados por el GRI se sustentan en cuatro principios, de los
                            cuales parten los indicadores de cumplimiento. Estos son: </p>


                    </div>
                </div>
                <div class="col-12 col-lg-6 p-0 ocw-razon__mision-right">
                    <img src="../../../assets/img/Otros/razondeser-2.jpg" alt="" class="ocw-razon__mision-img">
                </div>
            </div>
        </div>

        <div class="ocw-home-nota1">
            <div class="ocw-container-section ocw-container-section">
                <div class="row">
                    <div class="col-12 col-lg">
                        <div class="oc-cont-cards d-flex flex-column justify-content-end"
                            style="background-image: url(https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/informes-gestion-sostenibilidad/informes-gestion-sostenibilidad-01-gri-tablet.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <img src="../Img/icon-blanco-reconocimientos-2-guia.svg" alt="" class="oc-cont-cards__icon">
                            <img src="../Img/icon-blanco-reconocimientos-2-guia.svg" alt=""
                                class="oc-cont-cards__icon-hover">
                            <span class="oc-cont-cards__title">Materialidad</span>
                            <a class="oc-cont-cards__link">
                                <span class="oc-cont-cards__link__text">La empresa cubre aspectos que reflejan sus
                                    impactos significativos sociales,
                                    ambientales y económicos, que ejercen una influencia sustancial en las
                                    decisiones de los grupos de interés.</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="oc-cont-cards d-flex flex-column justify-content-end"
                            style="background-image: url(https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/informes-gestion-sostenibilidad/informes-gestion-sostenibilidad-02-gri-tablet.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <img src="../Img/icon-bogota-2-operacion.svg" alt="" class="oc-cont-cards__icon">
                            <img src="../Img/icon-bogota-2-operacion.svg" alt="" class="oc-cont-cards__icon-hover">
                            <span class="oc-cont-cards__title">Participación de los grupos de interés</span>
                            <a class="oc-cont-cards__link">
                                <span class="oc-cont-cards__link__text">La organización identifica a sus grupos de
                                    interés y describe cómo da
                                    respuesta a sus expectativas e intereses razonables.</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="oc-cont-cards d-flex flex-column justify-content-end"
                            style="background-image: url(https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-03-nuestra-plataforma-desktop.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <img src="../Img/icon_1_medio_ambiente.svg" alt="" class="oc-cont-cards__icon">
                            <img src="../Img/icon_1_medio_ambiente.svg" alt="" class="oc-cont-cards__icon-hover">
                            <span class="oc-cont-cards__title">Sostenibilidad</span>
                            <a class="oc-cont-cards__link">
                                <span class="oc-cont-cards__link__text">La organización demuestra cómo contribuye o
                                    busca contribuir en el futuro, a
                                    la mejora o al deterioro de las tendencias, avances y condiciones
                                    económicas, ambientales y sociales locales, regionales o globales.</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="oc-cont-cards d-flex flex-column justify-content-end"
                            style="background-image: url(https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/accionistas-inversionistas/accionistas-inversionistas-01-nuestros-valores-desktop.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <img src="../Img/operacion-icono-14.svg" alt="" class="oc-cont-cards__icon">
                            <img src="../Img/operacion-icono-14.svg" alt="" class="oc-cont-cards__icon-hover">
                            <span class="oc-cont-cards__title">Exhaustividad</span>
                            <a class="oc-cont-cards__link">
                                <span class="oc-cont-cards__link__text">La cobertura de los informes refleja los
                                    impactos sociales, económicos y
                                    ambientales significativos, para que los grupos de interés evalúen el
                                    desempeño de la organización durante el periodo que cubren.</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="cas-cover-comunidades">
            <div class="ocw-container-section p-0">
                <div class="ocw-background ">
                    <img src="../Img/Foto Sostenibilidad 4.png" alt=""
                        class="ocw-background__img ocw-background__img-desk">

                    <div class="ocw-background__cont-left">
                        <img src="../Img/ConcesionPortuaria-icono-5.svg" alt="" class="ocw-background__cont-left__icon">
                        <h2 class="ocw-background__cont-left__title">Informes de sostenibilidad</h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="ocw-container-section">
            <div class="ocw-cont-territorio-info">
                <div class="ocw-cont-territorio-info__info">
                    <img src="../Img/icon-sostenibilidad-informes.svg" alt=""
                        class="ocw-cont-territorio-info__info__icon">
                    <h2 class="ocw-cont-territorio-info__info__title">Consulte nuestros informes de sostenibilidad</h2>
                    <p class="ocw-cont-territorio-info__info__desc mb-0">Concebimos la sostenibilidad como un balance de
                        resultados finales esperados tanto a nivel financiero como en el impacto generado al medio
                        ambiente y a
                        la sociedad.</p>
                    <p class="ocw-cont-territorio-info__info__desc mb-0">En Ocensa sabemos que las prioridades en
                        sostenibilidad
                        cambian a medida que emergen nuevas tendencias, estándares, acuerdos, demandas del mercado,
                        intereses de
                        inversionistas, entre otros. </p>
                    <p class="ocw-cont-territorio-info__info__desc mb-0">Por esta razón, estamos comprometidos con
                        identificar,
                        gestionar y reportar sobre los asuntos ambientales, sociales y de gobierno (ESG) que son
                        relevantes para
                        nosotros y nuestros grupos de interés.</p>
                    <p class="ocw-cont-territorio-info__info__desc mb-0">Comprometidos con la transparencia y la
                        rendición de
                        cuentas, a continuación podrán consultar los informes de sostenibilidad elaborados a la fecha.
                    </p>
                </div>
            </div>
        </div>
        <div class="row ocw-container-section">
            <div class="col-7 caja-acordiones ">
                <div class="grupo-acordion grupo-acordion-activo">
                    <div class="row">
                        <div class="caja-imagen-ficha-acordion"> <img
                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/informes-gestion-sostenibilidad/iconos/icon_ocensa_inversionistas_informes_gestion_informe_sostenibilidad.svg"
                                alt="Ocensa" style="width: 100px;">
                        </div>
                        <div class="ocw-etica__step ">
                            <h5>Informe de Sostenibilidad 2022</h5>
                        </div>
                        <div class="grupo-botones-acordion">
                            <div class="caja-boton-mas-contenido caja-boton-descargar-archivo"
                                onclick="window.open('https://www.ocensa.com.co/docs/informe/INFORME-SOSTENIBILIDAD-OCENSA-2022-WebEspan%CC%83ol.pdf')">
                                <div class="caja-icono-descargar"> <img
                                        src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                        alt="Ocensa" style="width: 20px;"> </div>
                                <div class="caja-elemento-circulo-ver-mas"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 caja-acordiones ">
                <div class="grupo-acordion grupo-acordion-activo">
                    <div class="row">
                        <div class="caja-imagen-ficha-acordion"> <img
                                src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/informes-gestion-sostenibilidad/iconos/icon_ocensa_inversionistas_informes_gestion_informe_gestion.svg"
                                alt="Ocensa" style="width: 100px;">
                        </div>
                        <div class="ocw-etica__step ">
                            <h5>Informe de Gestión</h5>
                        </div>
                        <div class="grupo-botones-acordion">
                            <div class="caja-boton-mas-contenido caja-boton-descargar-archivo"
                                onclick="window.open('https://www.ocensa.com.co/docs/informe/INFORME-SOSTENIBILIDAD-OCENSA-2022-WebEspan%CC%83ol.pdf')">
                                <div class="caja-icono-descargar"> <img
                                        src="https://portal.ocensa.com.co/Documents/inversionistasvf/imagenes/iconos/icon_descargar-gris.svg"
                                        alt="Ocensa" style="width: 20px;"> </div>
                                <div class="caja-elemento-circulo-ver-mas"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>